@page "/aboutme"

<div class="about-me" style="padding:2rem;">
    <h2>About Me</h2>
    <p>Hello, my name is Aian. [Add information about your projects, hobbies, skills, etc.]</p>
    <!-- You might include your picture here -->
</div>
